1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6 

2. What is the difference between string and variable?

3. Describe three different data types.

4. What is an expression made up of? What do all expressions do?
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

8. Why is eggs a valid variable name while 100 is invalid?
9. What three functions can be used to get the integer, floating-point number, or string version of a value?
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'- value
-87.8  - value
-      - expression
/      - expression
+	   - expression  
6      - value

2. What is the difference between string and variable?

string:- it is a long sequence of character enclosed in double quotes("),single quote(') or triple quote(''').

variable:- Variables are the names given to computer memory locations which are used to store values in a computer program.

3. Describe three different data types.

There are many different data types in python. The main 3 data types are:
1. integer:- whole number like 5,6,3,0.
2. float:-   decimal value 4.6,5.0 etc.
3. string:- alpha numeric characters in quotes like "hello world"

4. What is an expression made up of? What do all expressions do?

Any expression is made up of variable, operand and operator,where operand can be another variable or constant.
example:-
x=a+6, x= variable
       a= another variable
       6= constant

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

 Expression is a combination of values and functions that are combined and create a new value.
 Statement is a standalone unit of execution and doesn't return anything.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [2]:
bacon = 22

In [3]:
bacon + 1

23

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam' * 3

'spamspamspam'

its same

8. Why is eggs a valid variable name while 100 is invalid?

In [6]:
eggs=8

In [7]:
eggs

8

In [8]:
100=8

SyntaxError: cannot assign to literal (Temp/ipykernel_4784/2828735413.py, line 1)

In [9]:
"100"=9

SyntaxError: cannot assign to literal (Temp/ipykernel_4784/1495394832.py, line 1)

In [10]:
"shristi"=6

SyntaxError: cannot assign to literal (Temp/ipykernel_4784/1524089392.py, line 1)

In [11]:
shristi=7

variable names cannot begin with a number

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [12]:
str(8)

'8'

In [14]:
int(shristi)

7

In [15]:
float(eggs)

8.0

str(),int() and float()

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [16]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

solution:-

In [17]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'